:root {
    
    --text-color-white: #ffffff;
    --text-color-accent: #e48700;
    --overlay-bg-color: rgba(0, 0, 0, 0.66);
    --font-nunito: "Nunito-Regular", Helvetica, sans-serif;
    --font-poppins: "Poppins-ExtraBold", Helvetica, sans-serif;
}

.dashboard {
    background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw;  */
  height: 100vh;  
  display: flex; /* Ensures content is centered */
  justify-content: center;
  align-items: center;
}

.dtitle{
    color: #e48700;
    font-family: var(--font-poppins);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.nav {
    position: absolute;
    top: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #d9d9d9;
    padding: 10px 0;
}

.nav-item {
    font-family: var(--font-nunito);
    font-size: 15px;
    font-weight: 700;
    color:black;
    cursor: pointer;
    transition: color 0.1s ease;
    text-decoration: none; 
}
.nav-item:hover {
    color: darkorange; 
}