:root {
    
    --text-color-white: #ffffff;
    --text-color-accent: #e48700;
    --overlay-bg-color: rgba(0, 0, 0, 0.66);
    --font-nunito: "Nunito-Regular", Helvetica, sans-serif;
    --font-poppins: "Poppins-ExtraBold", Helvetica, sans-serif;
}

.installs {
    background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw;  */
  height: 100vh;  

}

.ititle{
    color: #e48700;
    font-family: var(--font-poppins);
    font-size: 24px;
    font-weight: bold;
      display: flex; 
  justify-content: center;
  align-items: center;
    margin-bottom: 20px;
}


